   

    <div class="container">
        <div class="card">
            <img src="assets\akglogo.png" class="card-img-top" alt="logo">
            <div class="card-body">
                <h2 class="card-title">USER LOGIN</h2>
                <H6>Welcome</H6><br>
                <form>
                    <div class="d-flex flex-column center1">
                        <div class="input-group mb-3  ">
                            <span class="input-group-text"><i class='fas fa-book' style='font-size:24px' ></i></span>
                            <span class="col-xs-4">
                               <input type="text" class="form-control" placeholder="Roll Number">
                            </span>
                        </div>
                    
                    
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class='fas fa-user' style='font-size:24px'></i></span>
                            <div class="col-xs-4">
                              <input type="text" class="form-control" placeholder="Student Name">
                            </div>
                        </div>
                    </div>
                   <br>
                    <button type="button" class="btn btn-primary mr-4">LOGIN</button>
                </form><br>
                <h6>Powered by : <img src="assets\logo.jpg" height="40%" width="30%"></h6>
            </div>
        </div>
    </div>

  