/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url('assets/bg.jpg');
    background-color:aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}
